h1 {
    font-size: 1.5em;
    font-family: Helvetica, San-serif;
    color: #222;
    font-weight: bold;
}

a {
    font-size: 14px;
    font-family: Helvetica;
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}



div {
	align-content: center;
}