body {
  background-image: url("skybg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 200px;
}

h1 {
    font-size: 1.5em;
    font-family: Times New Roman;
    color: #222;
    font-weight: bold;
}

a {
    font-size: 14px;
    font-family: Helvetica;
    color: #3399cc;
    font-weight: 400;
    text-decoration: none;
}

li {
	color: grey;
}

div {
	align-content: center;
}

#section-title {
	font-size: 17px;
	font-family: Helvetica;
	color: #575755;
	font-weight: bold;
}

#scroll-col {
	padding-left: 0%;
	overflow-y: scroll;
}

#info-col {
	padding-right: 20%;
}